<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex justify-center items-center content-center w-screen h-screen p-3">
        <div class="border border-green-500 p-3 rounded-md flex flex-col justify-center items-center">
            <div class="border border-green-500 rounded-md mb-2">
                <h3 class="text-center p-3 text-xl">Welcome to this platform <br>
                    where you can post Blogs about anything.</h3>
            </div>
            <a href="/signin" class="w-auto bg-green-500 text-white hover:text-black hover:bg-green-300 p-2 rounded-md">Get Started</a>
        </div>
    </div>
    
</body>
</html>